h1 {
  text-align: center;
  font-style: ;
}

div {
  height: 50px;
  width: 50px;
  display: flex;
}

button {
  display: block;
  margin: auto;
}

#container {
  display: flex;
  flex-flow: row wrap;
  margin: auto;
  height: 800px;
  width: 800px;
  border-style: solid;
  border-color: black;
  border-width: thick;
}
